<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>KPOP</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="assets/css/plugins/all.min.css">
    <link rel="stylesheet" href="assets/css/plugins/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/plugins/aos.css">
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/plugins/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/plugins/gijgo.min.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->

</head>

<body>

    <div class="main-wrapper">


        <!-- Preloader start -->
        <div id="preloader">
            <div class="preloader">
                <span></span>
                <span></span>
            </div>
        </div>
        <!-- Preloader End -->

        <!-- Header Start  -->
        <div id="header" class="section exvent-header-section">

            <div class="container">

                <!-- Header Wrap Start  -->
                <div class="header-wrap">

                    <div class="header-logo">
                        <a href="/"><img width="200" height="100" src="assets/images/logo/KPop.png" alt=""></a>
                    </div>

                    <div class="header-menu d-none d-lg-block">
                        <ul class="main-menu">
                            <li>
                                <a href="/">Home</a>

                            </li>
                            <li>
                                <a href="/events">Events</a>
                            </li>
                          

                          



                            <li><a href="/profile"> Profile</a></li>
                           

                        </ul>
                    </div>

                    <!-- Header Meta Start -->
                    <div class="header-meta">
                        <!-- Header Search Start -->
                        <div class="header-search">

                            <div class="search-wrap">
                                <div class="search-inner">

                                    <div class="search-cell">
                                        <form action="#">
                                            <div class="search-field-holder">

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Header Search End -->
                        <!-- Header Cart Start -->
                        <div class="header-cart dropdown">

                            <!-- Header Dropdown Cart Start -->
                            <div class="dropdown-menu dropdown-cart slideIn">
                                <!-- Dropdown Cart Items Start -->
                                <div class="cart-items">
                                    <!-- Single Cart Item Start -->
                                    <div class="single-cart-item">
                                        <div class="item-image">

                                        </div>
                                        <div class="item-content">

                                        </div>

                                    </div>
                                    <!-- Single Cart Item End -->
                                    <!-- Single Cart Item Start -->
                                    <div class="single-cart-item">
                                        <div class="item-image">
                                            <img src="assets/images/cart/cart-2.jpg" alt="cart">
                                        </div>
                                        <div class="item-content">

                                        </div>

                                    </div>
                                    <!-- Single Cart Item End -->
                                    <!-- Single Cart Item Start -->
                                    <div class="single-cart-item">
                                        <div class="item-image">
                                            <img src="assets/images/cart/cart-3.jpg" alt="cart">
                                        </div>
                                        <div class="item-content">


                                        </div>

                                    </div>
                                    <!-- Single Cart Item End -->
                                </div>
                                <!-- Dropdown Cart Items End -->
                                <!-- Dropdown Cart Total Start -->
                                <div class="cart-total">

                                </div>
                                <!-- Dropdown Cart Total End -->
                                <!-- Dropdown Cart Button Start -->
                                <div class="cart-btns">

                                </div>
                                <!-- Dropdown Cart Button End -->
                            </div>
                            <!-- Header Dropdown Cart End -->
                        </div>
                        <!-- Header Cart End -->

                        <div class="header-btn d-none d-xl-block">
                            <a class="btn" href="/createEvent">Create Event</a>

                        </div>
                        <!-- Header Toggle Start -->
                        <div class="header-toggle d-lg-none">
                            <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                        <!-- Header Toggle End -->
                    </div>
                    <!-- Header Meta End  -->

                </div>
                <!-- Header Wrap End  -->

            </div>
        </div>
        <!-- Header End -->

        <!-- Offcanvas Start-->
        <div class="offcanvas offcanvas-start" id="offcanvasExample">
            <div class="offcanvas-header">
                <!-- Offcanvas Logo Start -->
                <div class="offcanvas-logo">
                    <a href="index.html"><img src="assets/images/KPop.png" alt=""></a>
                </div>
                <!-- Offcanvas Logo End -->
                <button type="button" class="close-btn" data-bs-dismiss="offcanvas"><i
                        class="flaticon-close"></i></button>
            </div>

            <!-- Offcanvas Body Start -->
            <div class="offcanvas-body">
                <div class="offcanvas-menu">
                    <ul class="main-menu">
                        <li>
                            <a href="/">Home</a>

                        </li>
                        <li>
                            <a href="/events">Events</a>
                        </li>
                      

                        


                        <li class="active-menu"><a href="/profile">Profile</a></li>
                       
                    </ul>
                    <a class="btn" href="/createEvent">Create Event</a>
                </div>
            </div>
            <!-- Offcanvas Body End -->
        </div>


        <!-- Hero Start -->
        <div class="section exvent-hero-section d-lg-flex d-block align-items-center inner-page-hero"
            style="background-image: url(assets/images/newjeans.gif);">
            <img class="shape-1 img-fluid" src="./astro.gif" alt="">
            <img class="shape-2 img-fluid" src="./astro.gif" alt="">

            <div class="container">
                <div class="row exvent-hero-row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <div class="page-title">
                            <h2 class="section-title">Event List</h2>
                        </div>
                        <div class="page-navigation">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="/events">Event List</a></li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->

        <!-- Event List Page Start -->
        <div class="event-list-page-wrap section-padding-02">
            <div class="container">
              <!-- Event List Topbar Start -->
              <div class="event-list-top-bar">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="event-list-search">
                        <form action="events" method="GET">
                            <div class="row g-0">
                              <div class="col-md-5">
                                <div class="single-form">
                                  <i class="fas fa-search"></i>
                                  <input type="text" placeholder="Search Event" name="search">
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="single-form form-border">
                                  <i class="fas fa-map-marker-alt"></i>
                                  <input type="text" placeholder="Location" name="location">
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="form-btn">
                                  <button class="event-topbar-btn btn" type="submit">Find Event</button>
                                </div>
                              </div>
                            </div>
                          </form>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="event-filter-wrap">
                      <div class="event-collapse-btn">
                      
                         
                       
                      </div>
          
                      <div class="event-list-btn">
                        <ul class="nav">
                        
                       
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- List Collapse Start -->
                <div class="collapse" id="collapseFilters">
                  <div class="event-list-tag">
                    <ul>
                      <!-- Add your list items here -->
                    </ul>
                  </div>
                </div>
                <!-- List Collapse End -->
              </div>
              <!-- Event List Topbar Ends -->
          
              <!-- Event List Bottom Bar Start -->
              <div class="event-list-bottom-bar">
                <div class="event-list-btn">
                  <a class="event-btn" href="/events">
                    <i class="flaticon-back"></i>
                  </a>
                  <a class="event-btn" href="/events">
                    <i class="flaticon-next"></i>
                  </a>
                </div>
                <div class="date-picker-filter">
                  <input id="datepicker">
                </div>
              </div>
              <!-- Event List Bottom Bar End -->
          
              <!-- Event List Content Start -->
           
                         
              <div class="event-list-content">
                <% for (let j = events.length - 1; j >= 0; j--) { %>
                  <hr>
                <h3> <a class="title" href="/event/<%= events[j]._id %>">
                    <%= events[j].summary %>
                  </a></h3> 
                  
                    <div class="meta-data">
                      <span>
                        <i class="far fa-clock"></i>
                        <%= new Date(events[j].start.dateTime).toLocaleTimeString('en-US') %> - <%= new Date(events[j].end.dateTime).toLocaleTimeString('en-US') %>
                      </span><br>
                      <span>Date:</span> <%= new Date(events[j].start.dateTime).toLocaleDateString('en-US') %> <br>
                      <span>
                        <i class="fas fa-map-marker-alt"></i>
                        <%= events[j].location %>
                      </span>
                    </div>
                    <div class="event-desc">
                      <!-- Add event description here -->
                    </div>
                    <% if (new Date(events[j].end.dateTime) < new Date()) { %>
                      <p style="color:red">This event has already passed.</p>
                    <% } %>
                    <a class="ticket-link" href="/createEvent">Create More Events</a>
                 
                  <div>
                  
                  </div>
                <% } %>
              </div>
                        <!-- Event List Item End -->
                    
              <!-- Event List Content End -->
            
          <!-- Event List Page End -->
          
          <!-- Footer Section Start -->
          <!-- Footer Section End -->
          
          <!-- Footer Copyright Start -->
          <div class="footer-copyright-area">
            <div class="container">
              <div class="footer-copyright-wrap">
                <div class="row align-items-center">
                  <div class="col-lg-12">
                    <!-- Footer Copyright Text Start -->
                    <div class="copyright-text text-center">
                      <p>2023 Copyright Expotin Designed by Love. All Rights Reserved</p>
                    </div>
                    <!-- Footer Copyright Text End -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Footer Copyright End -->
          
          <!-- back to top start -->
          <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
              <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
          </div>
    <!-- back to top end -->

    </div>

    <!-- JS
    ============================================ -->
    <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/plugins/popper.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>

    <!-- Plugins JS -->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/aos.js"></script>
    <script src="assets/js/plugins/waypoints.min.js"></script>
    <script src="assets/js/plugins/back-to-top.js"></script>
    <script src="assets/js/plugins/jquery.counterup.min.js"></script>
    <script src="assets/js/plugins/appear.min.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/lightbox.min.js"></script>
    <script src="assets/js/plugins/gijgo.min.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->


    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script src="./fetch.js"></script>
    <script>
 var today = new Date();

// Format the date as "DD Month YYYY"
var formattedDate = today.getDate() + ' ' + getMonthName(today.getMonth()) + ' ' + today.getFullYear();

// Set the formatted date as the placeholder value
document.getElementById("datepicker").setAttribute("placeholder", formattedDate);
function getMonthName(month) {
  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
  return monthNames[month];
}
    </script>

</body>

</html>